body,
html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 200vh;
  overflow-x: hidden;
  max-width: 1420px;
  margin: 0 auto;
  background-color: #353535;
}

h1 {
  margin: 20px;
  color:#fafafa;
  font-size:2.5rem;
  font-family: sans-serif;
  text-align: center;
  padding: 37px;
}

p {
  font-family: sans-serif;
  text-align: center;
  margin: 6px;
  
}

.navbar {
  margin: 20px;
  height: 50px;
  width: 425px;
  position: absolute;
  top: 35px;
  right: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fafafa;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
button:hover {
  transform: translateY(-1px);
}
.message {
  margin: 20px;
  height: 50px;
  width: 425px;
  position: absolute;
  top: 35px;
  left: 290px;
  background-color: #fa6400;
  color: #fafafa;
  border-radius: .25rem;
  line-height: 1.25;
  font-weight:600;
}

ul {
  margin: 0;
}

.hints span {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  column-gap: 20px;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
}

.listBox div {
  /* width: 177.5px; */
  /* height: 135px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.listBox div img {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.listItemTitle {
  /* margin-top: 120px; */
  /* z-index: 999; */
}

@media (max-width: 600px) {
  html {
    height: auto;
  }

  .container {
    grid-template-columns: 70px 70px 70px 70px;
    font-size: 0.5rem;
    row-gap: 30px;
  }
  h1 {
    font-size:1.3rem;
    padding: 10px;
    margin: 20px
  }
  .navbar {
    margin: 10px;
    height: 30px;
    width: 100px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 249px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .message {
    font-size: .7rem;
    margin: 10px;
    height: 30px;
    width: 100px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 249px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .listBox div {
    /* width: 177.5px; */
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
  }
  .listItemTitle {
    margin-top: 5px;
  }

  img {
    width: 70px;
    height: 70px;
  }
}
