body,
html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

h1,
p {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.message {
  height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

ul {
  margin: 0;
}

.hints span {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  column-gap: 20px;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
}

.listBox div {
  /* width: 177.5px; */
  /* height: 135px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.listBox div img {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;

}

.listItemTitle {
  /* margin-top: 120px; */
  z-index: 999;
}

@media (max-width: 600px) {
  html {
    height: auto;
  }
  .container {
    grid-template-columns: 60px 60px 60px 60px;
    font-size: 0.5rem;
  }

  .listBox div {
    /* width: 177.5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  .listItemTitle {
    margin-top: 60px;
  }
}
